<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dev</key>
	<dict>
		<key>kBaseAPI</key>
		<string>http://dev:3000</string>
		<key>kBaseURL</key>
		<string>http://dev:3000</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>kBaseAPI</key>
		<string>http://release:3000</string>
		<key>kBaseURL</key>
		<string>http://release:3000</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>kBaseAPI</key>
		<string>http://debug:3000</string>
		<key>kBaseURL</key>
		<string>http://debug:3000</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>kBaseAPI</key>
		<string>http://prod:3000</string>
		<key>kBaseURL</key>
		<string>http://prod:3000</string>
	</dict>
</dict>
</plist>
